.container {
    display: flex;
    gap: 15px;
  }
  
  .item {
  
  }
  
  .btn {
    padding: 8px 15px;
    cursor: pointer;
    text-transform: lowercase;
  }
  
  .btn::first-letter {
    text-transform: uppercase;
  }