.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 18px;
  }
  
  .head {
    font-weight: 700;
  }
  
  .value {
    font-weight: 500;
    color: #3f3f3f;
  }